.outer-container {
    border: solid 1px;
    border-radius: 2px;
}

.about-container {
    display: flex;
}

.container {
    flex: 1;
    padding: 10px;
}

.image-upload-container {
    border-right: solid 1px;
}

.portfolio-container {
    display: flex;
}

.sidebarHeading {
    font-size: 13px;
    font-weight: 500;
}
